* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand img {
    height: 5vh;
}

.nav-item {
    margin: 0 10px;
}

.form-control  {
    width: 300px;
}
/*
.d-flex button {
    color: #FFF;
    background-color: #CD5C5C;
    border: 1px solid transparent;
    border-radius: 0;
} 
main {
    padding: 30px;
}

.lista {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 20px;
}*/

#lista-filmes {
    /*display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 20px;*/
    flex-wrap: wrap; 
    display: flex;
    justify-content: space-around;
}

#mostrar-filme {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-filme {
    display: flex;
    align-items: center;
    justify-content: center;
}
